<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Eat the Burger!!!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
    <style>
        body{
            font-family: 'Times New Roman', Times, serif;
            margin: 0%;
        }
        .container{
            display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border: 1px black solid;
    /*margin: 0 auto;*/
        }
       #eat{
         width: 35%;
    height: 400px;
    border: 1px black solid;
    background: #e7717d;
    color: black;
       }

       #addtoeat{
           width: 35%;
    height: 400px;
    border: 1px black solid;
    background: #afd275;
       }
       #ate{
 width: 35%;
    height: 400px;
    border: 1px black solid;
    background: #e7717d;
    color: black;
       }
       h2{
           text-align: center;
       }
       #addburger{
           text-align: center;
       }
       #submit{
        
           font-size: 13px;
       }
       header{
           height: 120px;
           background-color: #2c3e50;
           text-align: center;
           color: white;
            }
            footer{
           height: 120px;
           background-color: #2c3e50;
           
            }
            #image{
                width:150px; /*width of your image*/
   height:150px; /*height of your image*/
   background-position:center;
   background-repeat:no-repeat;
  /* background-image:url('https://previews.123rf.com/images/seamartini/seamartini1403/seamartini140300193/26541529-tasty-meaty-cheeseburger-on-a-sesame-bun-with-lettuce-licking-its-lips-in-anticipation-of-a-deliciou.jpg');*/
  margin-top: 50px;
  margin-left: 150px;
  max-height: 100px;
  max-width: 100px;
            }
    </style>
</head>
<body>
	{{{ body }}}
</body>
</html>